<h1>UserTodos#index</h1>
<p>Find me in app/views/user_todos/index.html.erb</p>

<% @user_todos.each_slice(4) do |user_todos| %>
  <div class="row">
    <% user_todos.each do |user_todo| %>
    <div class="col-md-3">
      <div class="card">
        <% if user_todo.completed? %>
        <%= image_tag user_todo.todo.picture, class:'card-img-top'%>
        <% else %>
        <%= image_tag user_todo.todo.picture, class:'card-img-top undone'%>

        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= user_todo.todo.name %></h5>
          <%= link_to 'Ver', todo_show_path(user_todo.todo), class:'btn btn-primary' %>
          <% if user_todo.completed? %>
            <%= link_to 'Desahcer', todo_update_path(user_todo), method: :patch, class:'btn btn-danger' %>
          <% else %>
            <%= link_to 'Hacer', todo_update_path(user_todo), method: :patch, class:'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>
<% end %>
